#NumPy ![numpy1.jpg]()
NumPy is a python module that allows you to do numerical computing. It is important for its use to create tensors with as few as one line of code and avoid for loops.

In [ ]:
import numpy as np

# Scalars
This code creates a tensor with 0 dimensions, "x". "x" is a scalar that represents the value 12. "x.ndim" returns the number of dimensions of the tensor.

In [ ]:
x = np.array(12)
print(x)
print("The variable x is "+str(x.ndim)+" dimension(s).")

12
The variable x is 0 dimension(s).

#Vectors
The numpy.array() function can also be used to create tensors with more dimensions. In this code, a vector is created

In [ ]:
x = np.array([1,2,3,4])
print(x)
print("The variable x is "+str(x.ndim)+" dimension(s).")

[1 2 3 4]
The variable x is 1 dimension(s).

#Matrices
Matrices can be created with the numpy.array() function by simply listing several vectors. Matrices are 2 dimensional tensors.

In [ ]:
x = np.array([[5, 78, 2, 34, 0],
             [6, 79, 3, 35, 1],
             [7, 80, 4, 36, 2]])
print(x)
print("The variable x is "+str(x.ndim)+" dimension(s).")

[[ 5 78  2 34  0]
 [ 6 79  3 35  1]
 [ 7 80  4 36  2]]
The variable x is 2 dimension(s).

#3D+ Tensors
For tensors 3 dimensions or above, simply create lists and separate each dimension with brackets. For example, a 3 dimensional tensor will have a list of scalars between brackets "[1,2,3,4]", making up a vector, then a list of vectors between brackets "[[1,2,3,4],[1,2,3,4],[1,2,3,4]]", making up a matrix, which is then part of a list of other matrices "[[[1,2,3,4],[1,2,3,4],[1,2,3,4]],[[1,2,3,4],[1,2,3,4],[1,2,3,4]]]", making up a 3 dimensional tensor.

In [ ]:
x = np.array([[[5, 78, 2, 34, 0],
              [6, 79, 3, 35, 1],
              [7, 80, 4, 36, 2]],
              [[5, 78, 2, 34, 0],
              [6, 79, 3, 35, 1],
              [7, 80, 4, 36, 2]],
              [[5, 78, 2, 34, 0],
              [6, 79, 3, 35, 1],
              [7, 80, 4, 36, 2]]])
print(x)
print("The variable x is "+str(x.ndim)+" dimension(s).")

[[[ 5 78  2 34  0]
  [ 6 79  3 35  1]
  [ 7 80  4 36  2]]

 [[ 5 78  2 34  0]
  [ 6 79  3 35  1]
  [ 7 80  4 36  2]]

 [[ 5 78  2 34  0]
  [ 6 79  3 35  1]
  [ 7 80  4 36  2]]]
The variable x is 3 dimension(s).

#Reshaping Tensors
Vectors are typically used as input data for a neural network. However, typical inputs, such as images, are 2D matrices and, if the image is color, 3D matrices (for the RGB values). Therefore, we must reshape the data before it is used. ".shape[#]" returns the size of that dimension. We multiply the 3 dimensions of the matrix and use ".reshape[#]" to create a vector.

In [ ]:
train_set_x = np.array([[[5, 78, 2, 34, 0],
                       [6, 79, 3, 35, 1],
                       [7, 80, 4, 36, 2]],
                       [[5, 78, 2, 34, 0],
                       [6, 79, 3, 35, 1],
                       [7, 80, 4, 36, 2]],
                       [[5, 78, 2, 34, 0],
                       [6, 79, 3, 35, 1],
                       [7, 80, 4, 36, 2]]])
print(train_set_x.shape[0])

train_set_x_flatten = train_set_x.reshape(train_set_x.shape[1]*train_set_x.shape[2]*train_set_x.shape[0])

print(train_set_x_flatten)

print(train_set_x_flatten.ndim)

3
[ 5 78  2 34  0  6 79  3 35  1  7 80  4 36  2  5 78  2 34  0  6 79  3 35
  1  7 80  4 36  2  5 78  2 34  0  6 79  3 35  1  7 80  4 36  2]
1

#Images
If you are working with images, the pixel values are from 0 to 255. In order to standardize this we can divide by 255 to get values between 0 and 1.

In [ ]:
train_set_x = train_set_x_flatten/255

#Activation Function
The activation function takes the output from the nodes of the neural network and weights and biases and turns it into a useful output for the neural network. A common activation function is sigmoid, defined as 1/(1+e^(-x)). "np.exp()" is an exponential function, so np.exp(-z) is the same as e^(-z). The sigmoid function makes the output a value between 0 and 1.

In [ ]:
def sigmoid(z):
  s = 1/(1+np.exp(-z))
  return s

#Matrix Multiplication

To do matrix multiplication, the "@" operator is used. You can either call the "@" operator or numpy.matmul(), which both will return the same result. It only works with 2D-arrays

In [ ]:
a = np.array([[1, 0],
              [0, 1]])

b = np.array([[4, 1],
              [2, 2]])

c = np.matmul(a, b)
d = a @ b

c == d

array([[ True,  True],
       [ True,  True]])

# Einsum Function
The Einstein summation convention can be used to compute many multi-dimensional, linear algebraic array operationsin which the einsum() function provides a succinct way of representing these.

Anything that involves combinations of multiplying and summing axes can be written using einsum.

In [ ]:
#matmul using einsum
a = np.array([[1, 0],
              [0, 1]])

b = np.array([[4, 1],
              [2, 2]])

np.einsum('ij, jk ->ik', a, b)

array([[4, 1],
       [2, 2]])

In [ ]:
#array axis summation
np.einsum('ij->i', a)

array([1, 1])

In [ ]:
#tensor contraction
A = np.linspace(0,26,27) #linear spaced vector from 0-26 with 27 values
A.resize(3,3,3) #resized to a 3x3x3
print(A)

B = np.array([[ 0,  1,  2],
              [ 3,  4,  5],
              [ 6,  7,  8]]) #intialized a 3x3 matrix

np.einsum('ijk,kl->ijl', A, B) #does tensor multiplication where it contracts along the k axis
      # tensor multiplication dimensions

[[[ 0.  1.  2.]
  [ 3.  4.  5.]
  [ 6.  7.  8.]]

 [[ 9. 10. 11.]
  [12. 13. 14.]
  [15. 16. 17.]]

 [[18. 19. 20.]
  [21. 22. 23.]
  [24. 25. 26.]]]

array([[[ 15.,  18.,  21.],
        [ 42.,  54.,  66.],
        [ 69.,  90., 111.]],

       [[ 96., 126., 156.],
        [123., 162., 201.],
        [150., 198., 246.]],

       [[177., 234., 291.],
        [204., 270., 336.],
        [231., 306., 381.]]])

In [ ]:
#another tensor contraction example
a = np.arange(24).reshape(3,4,2)
# print(a)
# print('\n')
b = np.arange(24.).reshape(4,3,2)
# print(b)

np.einsum('ijk,jil->kl', a, b)

array([[1760., 1892.],
       [1892., 2036.]])

In [ ]:
np.einsum('mjk,jil->mikl', a, b)

array([[[[ 168.,  180.],
         [ 204.,  220.]],

        [[ 192.,  204.],
         [ 236.,  252.]],

        [[ 216.,  228.],
         [ 268.,  284.]]],


       [[[ 456.,  500.],
         [ 492.,  540.]],

        [[ 544.,  588.],
         [ 588.,  636.]],

        [[ 632.,  676.],
         [ 684.,  732.]]],


       [[[ 744.,  820.],
         [ 780.,  860.]],

        [[ 896.,  972.],
         [ 940., 1020.]],

        [[1048., 1124.],
         [1100., 1180.]]]])

#Rpy2
Rpy2 is a python module for running R code. You can use it by importing rpy2.robjects.

In [ ]:
import rpy2.robjects as robjects

In [ ]:
pi = robjects.r["pi"]
pi

**robjects.r()** can be used to run R code. Simply input the R code as a string within the function.

In [ ]:
robjects.r('''
        # create a function `f`
        f <- function(r, verbose=FALSE) {
            if (verbose) {
                cat("I am calling f().\n")
            }
            2 * pi * r
        }
        # call the function `f` with argument value 3
        f(3)
        ''')